<div id="facebook-Bar">
  <div id="facebook-Frame">
<div id="logo"> <a href="">Socialbook</a> </div>  
</div>
</div>

</br>

<%= button_to "Go to profile", user_path(:id => current_user.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>

<% flash.each do |name, msg| %>			
        <div class="<%= flash_class(name) %>">		
  		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  		<strong><%= content_tag :div, msg, :id => "flash_#{name}" %></strong>
	</div>
<% end %>

<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  &nbsp<%= f.label :"Write your message:", style: "color: black;" %>    
    <div class="form-group">
   
    </br>&nbsp&nbsp<%= f.text_area(:text, size: '100x5', :autofocus => true, class: 'text_area') %>
  </div>

    
  <!-- <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div> -->

  <div class="field"></br>
    <%= f.label :"upload image:" %><br>
    </br><%= f.file_field :image %></br>
  </div>  

  </br>

  <div class="container">
    <label class='checkbox-inline'>
  <%= radio_button_tag :option, :private %>
  Private
</label>
<label class='checkbox-inline'>
  <%= radio_button_tag :option, :friends %>
  Share with friends
</label>
<label class='checkbox-inline'>
  <%= radio_button_tag :option, :public, checked = true %>
  Public
</label>
</div>

  </br>

</br
  <div class="actions">
    <%= f.submit "Post", :class => 'fbbutton' %>
  </div>


<% end %>
