<div id="facebook-Bar">
  <div id="facebook-Frame">
<div id="logo"> <a href="">Socialbook</a> </div>  
</div> 
</div> 

<%= button_to "Go back", message_path(:id => current_user.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>


<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  &nbsp<%= f.label :"Edit your message:", style: "color: black;" %>    
    <div class="form-group">
   
    </br>&nbsp&nbsp<%= f.text_area(:text, size: '100x5', :autofocus => true, class: 'text_area') %>
  </div>

    
  <!-- <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div> -->
 
  </br>

  <div class="field"></br>
    <%= f.label :"upload image:" %><br>
    </br><%= f.file_field :image %></br>
  </div> 

  <% if f.object.image? %>
      </br>Remove current image
      <%= f.check_box :remove_image %> 
  <% end %>
  
  </br>

  <div class="container">
    <label class='checkbox-inline'>
  <%= radio_button_tag :option, :private %>
  Private
</label>
<label class='checkbox-inline'>
  <%= radio_button_tag :option, :friends %>
  Share with friends
</label>
<label class='checkbox-inline'>
  <%= radio_button_tag :option, :public, checked = true %>
  Public
</label>
</div>

  </br>
  
</br
  <div class="actions">
    <%= f.submit "Edit", :class => 'fbbutton' %>
  </div>


<% end %>

