<div id="facebook-Bar">
  <div id="facebook-Frame"> 
<div id="logo"> <a href="">Socialbook</a> </div> 
</div> 
</div> 


<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}
</style>
</head>
<body>

</br>

<% if current_user.has_role? :admin %>
  <%= button_to "Go back", manage_user_path(:id => current_user.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>
<% else %>
  <%= button_to "Go to profile", user_path(:id => current_user.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>
<% end %>

<% flash.each do |name, msg| %>			
        <div class="<%= flash_class(name) %>">		
  		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  		<strong><%= content_tag :div, msg, :id => "flash_#{name}" %></strong>
	</div>
<% end %>

</br>

<input type="text" id="myInput" onkeyup="filter()" placeholder="Search for messages.." title="Type in a text">

<h2>Messages</h2></br>

<table id="myTable">
  <tr class="header">
    <th style="width:25%;">Text</th>
    <th style="width:25%;">Photo</th>
    <th style="width:25%;">State</th>
    <th style="width:5%;">Likes</th>
    <th style="width:10%;">Dislikes</th>
    <th style="width:5%;"></th>
    <th style="width:10%;"></th>
  </tr>
<% @messages.each do |msg| %>
  <tr>
	<% if (msg.user_id == current_user.id) || (current_user.has_role? :admin) %>   
    	<td><%= msg.text %></td>
    	<td><%= image_tag msg.image.thumb.url if msg.image? %></td>
    	<td><%= msg.state %></td>
    	<td><%= msg.get_upvotes.size %></td>
    	<td><%= msg.get_downvotes.size %></td>
      	<td><%= button_to "Edit", edit_message_path(msg), :method => :get, :class => "btn fbbutton" %></td>
      	<td><%= button_to "Delete", msg, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn fbbutton' %></td> 
	<% else %>
    	<% if (msg.state == 'public') || ((msg.state == 'friends') && (current_user.friends_with?(User.find(msg.user_id)))) %>
			<td><%= msg.text %></td>
    		<td><%= image_tag msg.image.thumb.url if msg.image? %></td>
    		<td><%= msg.state %></td>
    		<td><%= msg.get_upvotes.size %></td>
    		<td><%= msg.get_downvotes.size %></td>
      		<td><%= button_to "Like", like_message_path(msg), :method => :put, :class => "btn fbbutton" %></td>
      		<td><%= button_to "Dislike", dislike_message_path(msg), :method => :put, :class => "btn fbbutton" %></td>
    	<% end %>
  	<% end %>

  </tr>
 <% end %>
</table>


<script>
function filter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>






















