<div id="facebook-Bar">
  <div id="facebook-Frame"> 
<div id="logo"> <a href="">Socialbook</a> </div> 
</div> 
</div> 

<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

</style>
</head>
<body>

</br>

<%= button_to "Go to profile", user_path(:id => current_user.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>

<input type="text" id="myInput" onkeyup="filter()" placeholder="Search for messages.." title="Type in a text">

<h2>My votes</h2></br>

<table id="myTable">
  <tr class="header">    
    <th style="width:25%;">Text</th>
    <th style="width:25%;">Photo</th>
    <th style="width:25%;">User</th>    
    <th style="width:25%;">Vote</th>
  </tr>
<% @messages.each do |msg| %>
  <tr>
    <% if (msg.state == 'public') || ((msg.state == 'friends') && (current_user.friends_with?(User.find(msg.user_id)))) %>
    	<td><%= msg.text %></td>
    	<td><%= image_tag msg.image.thumb.url if msg.image? %></td>
    	<td><%= User.find(msg.user_id).name %></td>
    	<% if current_user.voted_up_on? msg %>
      		<td>Like</td>
    	<% else %>
      		<td>Dislike</td>
  </tr>
 		<% end %>
	<% end %>
<% end %>
</table>


<script>
function filter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
