<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Socialbook</title>
<link rel="stylesheet" href="application.css" type="text/css" />
</head>


<!-- header starts here -->
<div id="facebook-Bar">
  <div id="facebook-Frame">
    <div id="logo"> <a href="">Socialbook</a> </div>  


 
    </div>
  </div>
</div>
<!-- header ends here -->
<% if User.find(Socialbook::Application.config.id).has_role? :admin %>  
  <%= button_to "Go back", manage_user_path(:id => Socialbook::Application.config.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>
<% else %>
  <%= button_to "Go to profile", user_path(:id => current_user.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>
<% end %>

<% flash.each do |name, msg| %>			
        <div class="<%= flash_class(name) %>">		
  		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  		<strong><%= content_tag :div, msg, :id => "flash_#{name}" %></strong>
	</div>
<% end %>

<div class="loginbox radius">
<h2 style="color:#141823; text-align:center;">Edit profile</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, style: "color: black;" %>
    <%= f.text_field :name, autofocus: true, style: "color: black;" %>
  </div>
<br />
  <div class="field">
    <%= f.label :email, style: "color: black;" %>
    <%= f.email_field :email, autofocus: true, style: "color: black;" %>
  </div>
<br />
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, style: "color: black;" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off", style: "color: black;" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
<br />
  <div class="field">
    <%= f.label :password_confirmation, style: "color: black;" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", style: "color: black;" %>
  </div>
<br />

  <div class="actions">
    <%= f.submit "Update", :class => "fbbutton" %>
  </div>
<% end %>

<br/>
<h3>Cancel account</h3>

<p><%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'fbbutton' %></p>

</div>

</html>

