<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Socialbook</title>
<link rel="stylesheet" href="application.css" type="text/css" />
</head>


<!-- header starts here -->
<div id="facebook-Bar">
  <div id="facebook-Frame">
    <div id="logo"> <a href="">Socialbook</a> </div>  


 
    </div>
  </div>
</div>

</br>

<!-- header ends here -->
<%= devise_error_messages! %>
<% flash.each do |name, msg| %>			
        <div class="<%= flash_class(name) %>">		
  		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  		<strong><%= content_tag :div, msg, :id => "flash_#{name}" %></strong>
	</div>
<% end %>
<div class="loginbox radius">
<h2 style="color:#141823; text-align:center;">Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

 
  <div class="field">
    <br /><%= f.label :name, style: "color: black;" %>
    <%= f.text_field :name, autofocus: true, style: "color: black;" %>
  </div>

  <div class="field">
    <br /><%= f.label :email, style: "color: black;" %>
    <%= f.email_field :email, autofocus: true, style: "color: black;" %>
  </div>

  <div class="field">
    <br /><%= f.label :password, style: "color: black;" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", style: "color: black;" %>
  </div>

  <div class="field">
    <br /><%= f.label :password_confirmation, style: "color: black;" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", style: "color: black;" %>
  </div>

  <div class="actions">
    <br /><%= f.submit "Sign up", :class => "fbbutton" %>
  </div>
<% end %>
</div>

</html>


