<div id="facebook-Bar">
  <div id="facebook-Frame"> 
<div id="logo"> <a href="">Socialbook</a> </div> 
</div> 
</div> 


<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}
</style>
</head>
<body>

</br>

<% if current_user.has_role? :admin %>
  <%= button_to "Go back", manage_user_path(:id => current_user.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>
<% else %>
  <%= button_to "Go to profile", user_path(:id => current_user.id), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>
<% end %>

<% flash.each do |name, msg| %>			
        <div class="<%= flash_class(name) %>">		
  		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  		<strong><%= content_tag :div, msg, :id => "flash_#{name}" %></strong>
	</div>
<% end %>

</br>

<% if current_user.has_role? :admin %>
	<h2>Friends</h2></br>
<% else %>
	<h2>My Friends</h2></br>
<% end %>

<input type="text" id="friendsInput" onkeyup="friendsFilter()" placeholder="Search for friends.." title="Type in a text" class="myInput">

<table id="friends" class="myTable">
  <tr class="header">
    <th style="width:25%;">User</th>
    <th style="width:25%;"></th>
    <th style="width:25%;"></th>
  </tr>
<% @friends.each do |f| %>
  <tr>
    <td><%= f.name %></td>
    <td><%= button_to "messages", message_path(:id => f.id), :method => :get, :class => "btn fbbutton" %></td>
    <td><%= button_to "remove", remove_friend_user_path(:id => @u.id.to_s+','+f.id.to_s), :method => :delete, :class => "btn fbbutton" %></td>
  </tr>
<% end %>
</table>

</br>
</br>

<h2>Requested</h2></br>

<input type="text" id="requestedInput" onkeyup="requestedFilter()" placeholder="Search for requested friendships.." title="Type in a text" class="myInput">

<table id="requested" class="myTable">
  <tr class="header">
    <th style="width:25%;">User</th>
    <th style="width:25%;"></th>
    <th style="width:25%;"></th>
  </tr>
<% @requested.each do |r| %>
  <tr>
    <td><%= r.name %></td>
    <td><%= button_to "accept", accept_request_user_path(:id => @u.id.to_s+','+r.id.to_s), :method => :put, :class => "btn fbbutton" %></td>
    <td><%= button_to "decline", decline_request_user_path(:id => @u.id.to_s+','+r.id.to_s), :method => :put, :class => "btn fbbutton" %></td>
  </tr>
<% end %>
</table>

</br>
</br>

<h2>Pending</h2></br>

<input type="text" id="pendingInput" onkeyup="pendingFilter()" placeholder="Search for pending requests.." title="Type in a text" class="myInput">

<table id="pending" class="myTable">
  <tr class="header">
    <th style="width:25%;">User</th>
  </tr>
<% @pending.each do |p| %>
  <tr>
    <td><%= p.name %></td>    
  </tr>
<% end %>
</table>


<script>
function friendsFilter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("friendsInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("friends");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function requestedFilter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("requestedInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("requested");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function pendingFilter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("pendingInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("pending");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
