<div id="facebook-Bar">
  <div id="facebook-Frame"> 
<div id="logo"> <a href="">Socialbook</a> </div> 
</div> 
</div> 


<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}
</style>
</head>
<body>

</br>

<% flash.each do |name, msg| %>			
        <div class="<%= flash_class(name) %>">		
  		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  		<strong><%= content_tag :div, msg, :id => "flash_#{name}" %></strong>
	</div>
<% end %>

</br>

<%= button_to "Edit profile", edit_user_registration_path(:user => current_user), :method => :get, :class => 'btn fbbutton', style: "margin-left:860px" %></br>
<%= button_to "Sign out", destroy_user_session_path(), :method => :delete, :class => 'btn fbbutton', style: "margin-left:860px" %></br>

<input type="text" id="myInput" onkeyup="filter()" placeholder="Search for users.." title="Type in a text">

<h2>Users</h2></br>

<table id="myTable">
  <tr class="header">
    <th style="width:25%;">Id</th>
    <th style="width:25%;">Name</th>
    <th style="width:25%;">Email</th>
    <th style="width:25%;">Role</th>
    <th style="width:5%;"></th>
    <th style="width:10%;"></th>
    <th style="width:5%;"></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <% if user.has_role? :admin %>
	<td>admin</td>
	<% else %>
	<td>default</td>
	<% end %>
    <td><%= button_to "Edit", edit_user_path(:id => user.id), :method => :get, :class => "btn fbbutton" %></td>
    <td><%= button_to "Messages", message_path(:id => user.id), :method => :get, :class => "btn fbbutton" %></td> 
    <td><%= button_to "Friendships", friendships_user_path(:id => user.id), :method => :get, :class => "btn fbbutton" %></td>
  </tr>
  <% end %>
</table>


<script>
function filter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>






















