 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Socialbook</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<!-- header starts here -->
  


  <form>
    
<div id="facebook-Bar">
  <div id="facebook-Frame">
<div id="logo"> <a href="">Socialbook</a> </div>  
 

      </div>
</div>
      </div>
</form>


<div class="container-buttons">


<% flash.each do |name, msg| %>		
        </br>	
        <div class="<%= flash_class(name) %>">		
  		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  		<strong><%= content_tag :div, msg, :id => "flash_#{name}" %></strong>		
	</div>
</br>
<% end %>

<%= link_to(' Edit profile', edit_user_registration_path, :class => 'btn btn-default glyphicon glyphicon-list-alt',:method=>:get) %>
<%= link_to(' Post message', new_message_path(), :class => 'btn btn-default glyphicon glyphicon-list-alt',:method=>:get) %>
<%= link_to(' My messages', message_path(:id => current_user.id), :class => 'btn btn-default glyphicon glyphicon-envelope',:method=>:get) %>
<%= link_to(' Search users', users_path(), :class => 'btn btn-default glyphicon glyphicon-search',:method=>:get) %>
<%= link_to(' My friendhips', friendships_user_path(current_user.id), :class => 'btn btn-default glyphicon glyphicon-user',:method=>:get) %>
<%= link_to(' My votes', votes_message_path(current_user.id), :class => 'btn btn-default glyphicon glyphicon-thumbs-up',:method=>:get) %>
<%= link_to(' Sign out', destroy_user_session_path, :class => 'btn btn-default glyphicon glyphicon-log-out',:method=>:delete) %>

</div>

</br>

<div class="row">
      <div class="col-sm-2"> <div class="panel-group">
    <div class="panel panel-default-custom">
      <div class="panel-heading">Name</div>
      <div class="panel-body"><%= current_user.name %></div>
      <div class="panel-heading">Email</div>
      <div class="panel-body"><%= current_user.email %></div>
      <div class="panel-heading">Messages</div>
      <div class="panel-body"><%= current_user.messages.count %></div>
	
	
    </div>
	
   
  </div>
</div>

<div class="col-sm-8"></div>

      <div class="col-sm-2"> <div class="panel-group">
    <div class="panel panel-default-custom">
	  <div class="panel-heading">Friends</div>
      <div class="panel-body"><%= current_user.friends.count %></div>
	  <div class="panel-heading">Received requests</div>
      <div class="panel-body"><%= current_user.requested_friends.count %></div>
	  <div class="panel-heading">My requests</div>
      <div class="panel-body"><%= current_user.pending_friends.count %></div>

	
	
    </div>
	
   
  </div>
</div>
    </div>
 





 	
      	

