<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Socialbook</title>
<link rel="stylesheet" href="application.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="login">
<!-- header starts here -->
<div id="facebook-Bar">
  <div id="facebook-Frame">
    <div id="logo"> <a href="">Socialbook</a></div>          
	
        
        
          <div class="row">
			<div id="header-main-signin">
      			<div class="col-sm-2"><%= button_to('Sign In', new_user_session_path, :class => "fbbutton", :method=>:get)  %> </div>		
			
      			<div class="col-sm-1"><%= button_to('Sign Up', new_user_registration_path, :class => "fbbutton", :method=>:get)  %></div>
			 </div>
    	 </div>
            
      </div>
</div>
      </div>
</div>
<!-- header ends here -->
</br>
<% flash.each do |name, msg| %>			
        <div class="<%= flash_class(name) %>">		
  		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  		<strong><%= content_tag :div, msg, :id => "flash_#{name}" %></strong>
	    </div>
        <% end %>
<div class="loginbox radius">
<h2 style="color:#141823; text-align:center;">Welcome to Socialbook</h2>
The best social network to be in contact with your friends around the world
</div>
</body>


</html>
